[Desktop Entry]
Type=Application
Exec=clementine
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=clementine
Name=clementine
Comment[en]=
Comment=
